#containerDiv
{
  overflow-y: scroll;

  height: 90vh;
}
#qDiv
{
  float: left;
  text-align: center;
  vertical-align: center;
  /*border-bottom: 5px solid;*/
  width: 80vw;
  height: 80%;
}
#aDiv
{
  text-align: center;
  float: right;
  border: 5px solid;
  width:20vw;
}
.ansBtn
{
  color: red;
  width:20vw;
  min-height: 10vh;
  margin-bottom: 14vh;
  background: darkorange;
  font-size: 4vmin;
}


body,html
{
  height: 100%;
}
#question
{
  border:5px solid;
  margin: 1vmin;
  font-size: 10vmin;

}
#scoreDiv
{
  font-size: 5vmin;
  float: top;
  text-align: left;
}

#cAnsDiv
{
  float: bottom;
  font-size: 6vmin;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

#infoForm{
  /*
    visibility:hidden;
    margin-left: 25vw;
    margin-top: 25vh;
    background:red;
    border:2px solid #3c3c3c;
    color:white;
    z-index:100;
    width: 50vw;
    height:50vh;
*/
display: none; /* Hidden by default */
position: absolute; /* Stay in place */
z-index: 100; /* Sit on top */
/* Location of the box */
width: 75vw;
height: 75vh;
top: 12.5vh;
left: 12.5vw;
overflow: auto; /* Enable scroll if needed */
background: rgb(41,36,48);
text-align: center;
align-items: center;
/* background-color: rgb(0,0,0); /* Fallback color */
/*background-color: rgba(0,0,0,0.4); Black w/ opacity */
}
.dimmer{
    background: pink;
    position: absolute;
    opacity: 0.9;
    top: 0;
    z-index:99;

}
#beginForm
{
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
}
.formElem
{
  width: 75%;
  font-size: 4vmin;
  background: burlywood;

}
.formLabel
{
  width: 20%;
  font-size: 4vmin;
  color: red;
}
#frmDiv
{
  height:50%;
  border: 2px solid;
}
#content
{
  height: 20%;
}
.loader {

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30vmin;
    height: 30vmin;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left:50%;
    margin: -15vmin 0 0 -15vmin;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
h1
{
  color: red;
  font-weight: bold;
  margin: 0;
  text-align: center;
  margin-bottom: 5vh;
}
#frmBtnDiv
{
  position: absolute;
  bottom: 0;
  color: red;
  width: 100%;
}
.frmBtns
{
  font-size: 4vmin;
  background: magenta;
  width: 30%;
}
#canvasDiv
{
  height: 100%;
  width:70%;
}
#doms
{
  font-size: 3vmin;
  display: block;
  overflow: scroll;
  height: 8%;
  width: 100%;
}
#inps
{
  float: left;
  /*width:30vw;*/
  height: 100%;
  text-align: left;
}
#pLife
{
  float: left;

}
#btnGo
{
    font-size: 5vmin;
    width: 12vw;
    height: 100%;
    background: red;
    position: relative;
    top:0;
}
#btnDivGen
{
  float: left;
  text-align: center;
  height: 100%;
  width: 12vw;
  display: inline;
  margin: 0;
  item-align: center;
  vertical-align: top;
}

p
{
  margin: 0;
}

#tabStats th,
#tabStats td ,
#tabStats
{
  border: 2px solid;
  padding: 0;
  margin: 0;
  font-size: inherit;
  /*font-size: 2vmin;*/
}
#tabStats
{
  border-spacing: 0;
  width:100%;
}
#divInfo
{
  width: 30%;
}
#container
{
  height: 97%;
}

#btnGo
{
  width:100%;
  height: 100%;
  font-size: 5vmin;
}
#btnDiv
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}
#divInfo, #canvasDiv
{
  position: relative;
  height: 99%;
  float: left;
}
