<!DOCTYPE html>
<html>
  <head>
    <style>
      body,
      div:first-child {
        margin: 0;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <main></main>
    <script src="./elm-canvas.js"></script>
    <script src="./elm.js"></script>
    <script>

      var app = Elm.Main.init({ node: document.querySelector("main") , flags:{startTime: Date.now()
    , winWidth: Math.round(window.innerWidth*0.9), winHeight: Math.round(window.innerHeight*0.9)}});
    </script>
  </body>
</html>